<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.vote.mapper.VoteMapper">
  <insert id="batchInsert">
    INSERT INTO v_vote (vote_name,status,created_time,modify_time) VALUES
    <foreach collection="votes" item="v" index="index" open="" separator="," close="">
      (#{v.voteName}, #{v.status}, now(), now())
    </foreach>
  </insert>
</mapper>
