<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.vote.mapper.VoteMapper">
  <insert id="batchInsert">
    INSERT INTO v_vote (vote_name,status,created_time,modify_time) VALUES
    <foreach collection="votes" item="v" index="index" open="" separator="," close="">
      (#{v.voteName}, #{v.status}, now(), now())
    </foreach>
  </insert>

  <!--keyProperty="id"属性将当前插入数据的id映射到了对象中-->
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.dong.vote.entity.Vote">
    INSERT INTO v_vote(vote_name,status,created_time,modify_time,past_time)
    VALUES(#{voteName},#{status},now(),now(),#{pastTime})
  </insert>

  <update id="updateVote">
    UPDATE v_vote SET vote_name = #{voteName}, status=#{status},past_time = #{pastTime}, modify_time=NOW()
    WHERE id = #{id}
  </update>

  <select id="batchFindVoteByUser" resultType="com.dong.vote.entity.Vote">
    SELECT * FROM v_vote
    WHERE id IN
    <foreach collection="voteIds" item="id" index="index" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

</mapper>
