<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.vote.mapper.VoteHistoryMapper">
  <insert id="insert" keyProperty="id"  useGeneratedKeys="true" parameterType="com.dong.vote.entity.VoteHistory">
    INSERT INTO v_history(vote_id,vote_name,max_option, max_poll,vote_created_time,past_time)
    VALUES (#{voteId},#{voteName},#{maxOption},#{maxPoll},#{voteCreatedTime},#{pastTime})
  </insert>
</mapper>
